.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: lightgray;
}

.fs-5 {
  white-space: nowrap;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #bdbdbd;
  width: 100%;
  background-color: white;
  color: #bdbdbd;
  font-size: 14px;
  padding: 10px;
  position: relative;
}

.social-logo {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 45px;
}
.input_label{
  color: #212529 !important;
}