.tournament-setup-section.container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  max-width: 1000px;
  margin: auto;
}

.form-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.first-col,
.second-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 500;
  margin-bottom: 0.4rem;
  text-align: left; 
  display: block;   
}

input,
select {
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.dropdown-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.dropdown-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-1 select {
  width: 300px;
}


.submit {
  display: flex;
  justify-content: center;
}

.submit-btn {
  background-color: #814eff;
  color: white;
  border: none;
  padding: 12px 32px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #6b38d3;
}
