
.settings-container {
  width: 100%;
  padding: 30px;
  background-color: #f5f6fa;
  min-height: 100vh;
  box-sizing: border-box;
}

.settings-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.team-logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #ddd;
}

.team-name {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.settings-form {
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  max-width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.settings-form h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.save-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.delete-btn {
  background-color: #9747ff;;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
